.example {
  margin-bottom: 30px;
}

.example-double-column {
  display: flex;
  flex: 1;
}

.example-vertical-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #EDE0E0;
  font-size: 2em;
}

.example-border-box {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  border: solid 4px #D27676;
  background-color: #EDE0E0;
}

.example-unequal-blocks {
  display: flex;
  padding: 20px 0;
  text-align: center;
  background-color: #EFE3E3;

  div { padding: 20px 0; }

  div:nth-of-type(1) { background-color: #D8D8D8; }
  div:nth-of-type(2) { background-color: #D27676; }
  div:nth-of-type(3) { background-color: #D8D8D8; }
}

.scale-iframe { margin-bottom: 30px; }

.scale-iframe--intrinsic-ratio {
  position: relative;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.scale-iframe--transform-scale {
  overflow: hidden;

  iframe { transform-origin: 0 0; }
}

.responsive-table {
  @media
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

  	/* Force table to not be like tables anymore */
  	table, thead, tbody, th, td, tr {
  		display: block;
  	}

  	/* Hide table headers (but not display: none;, for accessibility) */
  	thead tr {
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
  	}

  	tr { border: 1px solid #ccc; }

  	td {
  		/* Behave  like a "row" */
  		border: none;
  		border-bottom: 1px solid #eee;
  		position: relative;
  		padding-left: 50%;
  	}

  	td:before {
  		/* Now like a table header */
  		position: absolute;
  		/* Top/left values mimic padding */
  		top: 6px;
  		left: 6px;
  		width: 45%;
  		padding-right: 10px;
  		white-space: nowrap;
  	}

  	/*
  	Label the data
  	*/
  	td:nth-of-type(1):before { content: "City name"; }
  	td:nth-of-type(2):before { content: "Population"; }
  	td:nth-of-type(3):before { content: "Country"; }
  	td:nth-of-type(4):before { content: "Mayor"; }
  	td:nth-of-type(5):before { content: "Demonym"; }
  	td:nth-of-type(6):before { content: "Interesting fact"; }
  }
}
